#content {
    text-align: center;
    width: 45%;
}

#about {
    padding-top:30px;
}

#location {
    padding-bottom:150px;
}

#map {
    width: 100%;
}

.fa-leaf {
    text-align: center;
    color: green;
    font-size: 50px;
}


h1 {
    font-size:40px;
}

p {
    font-size: 17px;
}

#contact a {
    font-size: 19px;
    text-align: center;
}

#contact {
    padding-top: 15px;
}

.fa-phone {
    padding-top: 10px;
    font-size: 20px;
}

a:hover{
    text-decoration: none !important;
}

a {
    display: block;
}

@media only screen and (max-width: 650px) {
    #content {
        width: 90%;
    }
}

#hours {
    font-size: 15px;
    display: block;
}