#content {
    padding-top:50px;
    text-align: center;
    width: 45%;
}

.fa-leaf {
    text-align: center;
    color: green;
    font-size: 50px;
}

h1 {
    font-size:45px;
}

p {
    font-size: 17px;
}

ol {
    list-style: none; /* Remove default numbering */
}

#contact a {
    font-size: 16px;
    text-align: center;
}

#contact {
    padding-top: 15px;
}

.fa-phone {
    font-size: 20px;
}

a:hover{
    text-decoration: none !important;
}

a {
    display: block;
}

@media only screen and (max-width: 650px) {
    #content {
        width: 70%;
    }
}