<div class="container-fluid" id="content">
  <div class="container-fluid">
    <h1 id="about">About Us</h1>
    <p>
        We are a family owned dry cleaners that has been serving the Dallas and Duncanville areas for over 30 years.
    </p>
    <p>We pride ourselves on only using eco friendly cleaning methods.</p>
    <i class="fa fa-leaf" aria-hidden="true"></i>
  </div>
  <div class="container-fluid">
    <h1 id="services">Our Services</h1>
    <p>Wedding Dress Cleaning</p>
    <p>Rug Cleaning</p>
    <p>Fur Cleaning</p>
    <p>Fine Linens Cleaning</p>
    <p>Comforter Cleaning</p>
    <p>Wholesale Cleaning</p>
  </div>
  <div class="container-fluid">
    <h1 id="locations">Locations</h1>
    <div class="row">
        <!-- ADDRESSES -->
        <div class="col-md-2"></div>
        <div class="col-md-4" id="contact">
          <p>
            <a href="https://www.google.com/maps/place/4330+Gannon+Ln,+Dallas,+TX+75237/">
              4330 Gannon Ln Ste B<br>
              Dallas, TX 75237<br>
            </a>
            <a href="tel:+972-709-4442"><i class="fa fa-phone" aria-hidden="true"></i> (972) 709-4442</a>
          </p>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-5" id="contact">
            <p>
              <a href="https://www.google.com/maps/place/1420+W+Danieldale+Rd,+Duncanville,+TX+75137/">
                1420 West Danieldale Rd<br>
                Duncanville, TX 75137<br>
              </a>
              <a href="tel:+972-298-3099"><i class="fa fa-phone" aria-hidden="true"></i> (972) 298-3099</a>
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
</div>