<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
      <!-- SOCIAL MEDIA ICONS -->
    <div id="icons">
      <h3>Connect with us @</h3>
      <a href="https://www.facebook.com/cadetcleanersdallas/">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a href="https://www.yelp.com/biz/cadet-cleaners-dallas">
        <i class="fa fa-yelp" aria-hidden="true"></i>
      </a
      ><a href="https://www.google.com/maps/place/Cadet+Cleaners/@32.6562759,-96.8930551,17z/">
        <i class="fa fa-google-plus-square" aria-hidden="true"></i>
      </a>
      <a href="mailto:cadetcleanerstx@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav>