<div class="container-fluid" id="content">
    <div class="container-fluid">
      <h1>About Us</h1>
      <p>
          We are a family owned dry cleaners excitedly serving the Dallas area.
      </p>
      <p>We pride ourselves on only using eco friendly cleaning methods.</p>
      <i class="fa fa-leaf" aria-hidden="true"></i>
    </div>
    <div class="container-fluid">
      <h1 id="services">Our Services</h1>
      <p>Wedding Dress Cleaning</p>
      <p>Rug Cleaning</p>
      <p>Fur Cleaning</p>
      <p>Fine Linens Cleaning</p>
      <p>Comforter Cleaning</p>
      <p>Wholesale Cleaning</p>
    </div>
    <div class="container-fluid">
      <h1 id="locations">Locations</h1>
    </div>
  </div>