#content {
    padding-top:50px;
    text-align: center;
    width: 60%;
}

.fa-leaf {
    text-align: center;
    color: green;
    font-size: 50px;
}

h1 {
    font-size:50px;
}

p {
    font-size: 17px;
}

ol {
    list-style: none; /* Remove default numbering */
}
