<div>
  <agm-map [latitude]="map_lat" [longitude]="map_lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng">
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
              <ng-template>
                <h4> Cadet Cleaners </h4>
                <a href="https://www.google.com/maps/place/4330+Gannon+Ln,+Dallas,+TX+75237/">
                    4330 Gannon Ln Ste B
                    Dallas, TX 75237
                </a>
              </ng-template>
            </agm-snazzy-info-window>
      </agm-marker>
      <agm-marker [latitude]="lat2" [longitude]="lng2">
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
              <ng-template>
                  <h4> Cadet Cleaners </h4>
                  <a href="https://www.google.com/maps/place/1420+W+Danieldale+Rd,+Duncanville,+TX+75137/">
                    1420 West Danieldale Rd
                    Duncanville, TX 75137
                </a>
              </ng-template>
            </agm-snazzy-info-window>
      </agm-marker>
  </agm-map>
</div>