.navbar-fixed-bottom {
    text-align: center;
}

#icons i.fa {
    font-size: 40px;
    padding-bottom: 10px;
    color:	#e04545;
}

#contact {
    font-size: 17px;
}

#icons {
    text-align: center;
}
div.col-md-6 {
    padding-left: 85px;
}

.fa-phone {
    font-size: 20px;
}

a {
    color: #1a4ca3;
}