<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <!-- ADDRESSES -->
      <div class="col-md-3" id="contact">
        <p style="white-space:pre">
          <a href="https://www.google.com/maps/place/4330+Gannon+Ln,+Dallas,+TX+75237/">4330 Gannon Ln Ste B
            Dallas, TX 75237</a>
          <i class="fa fa-phone" aria-hidden="true"></i> (972) 709-4442
        </p>
      </div>
      <div class="col-md-3" id="contact">
          <p style="white-space:pre">
            <a href="https://www.google.com/maps/place/1420+W+Danieldale+Rd,+Duncanville,+TX+75137/">1420 West Danieldale Rd
              Duncanville, TX 75137</a>
            <i class="fa fa-phone" aria-hidden="true"></i> (972) 298-3099
          </p>
        </div>
      <!-- SOCIAL MEDIA ICONS -->
      <div class="col-md-6" id="icons">
        <h3>Connect with us @</h3>
        <a href="https://www.facebook.com/cadetcleanersdallas/">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a href="https://www.yelp.com/biz/cadet-cleaners-dallas">
          <i class="fa fa-yelp" aria-hidden="true"></i>
        </a
        ><a href="https://www.google.com/maps/place/Cadet+Cleaners/@32.6562759,-96.8930551,17z/">
          <i class="fa fa-google-plus-square" aria-hidden="true"></i>
        </a>
        <a href="mailto:cadetcleanerstx@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</nav>